<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
      <div class="col-md-8">
          <app-slider></app-slider> <br/><br/><br/><br/> 
          <app-body-articles class="mt-2"></app-body-articles>
          <!-- <router-outlet></router-outlet> -->
      </div>
      <div class="col-md-4">
          <app-weather></app-weather>
      </div>
  </div>
  <div class="row">
    <div class="col">
        <!-- footer Articles -->
        <!-- <app-footer-articles></app-footer-articles> -->
    </div>
</div>
</div>
 <app-publicite></app-publicite> 
<app-footer></app-footer>
<!-- <section>
    <app-slider></app-slider>
    <app-body-articles class="mt-2"></app-body-articles>
</section>

<section>
    <div class="container">
       
    </div>
</section> -->