<hr>
<div class="container">
    <div class="row mt-3 mr-4">
      <div class="col-sm ">
        <div class="card">
            <img src="assets/img/img5.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>               
                    <ul>
                       <li class=""><a href="/details">Cras justo odio</a></li>
                       <li class=""><a href="/details">Dapibus ac facilisis in</a></li>
                       <li class=""><a href="/details">Morbi leo risus</a></li>
                       <li class=""><a href="/details">Porta ac consectetur</a></li>
                       <li class=""><a href="/details">Vestibulum at eros</a></li>
                    </ul>                 
            </div>
        </div>
      </div>
      <div class="col-sm ">
        <div class="card">
            <img src="assets/img/img5.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>               
                    <ul>
                       <li class=""><a href="/details">Cras justo odio</a></li>
                       <li class=""><a href="/details">Dapibus ac facilisis in</a></li>
                       <li class=""><a href="/details">Morbi leo risus</a></li>
                       <li class=""><a href="/details">Porta ac consectetur</a></li>
                       <li class=""><a href="/details">Vestibulum at eros</a></li>
                    </ul>                 
            </div>
        </div>
      </div>
      <div class="col-sm ">
        <div class="card">
            <img src="assets/img/img5.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>               
                    <ul>
                       <li class=""><a href="/details">Cras justo odio</a></li>
                       <li class=""><a href="/details">Dapibus ac facilisis in</a></li>
                       <li class=""><a href="/details">Morbi leo risus</a></li>
                       <li class=""><a href="/details">Porta ac consectetur</a></li>
                       <li class=""><a href="/details">Vestibulum at eros</a></li>
                    </ul>                 
            </div>
        </div>
      </div>
      <div class="col-sm ">
        <div class="card">
            <img src="assets/img/img5.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>               
                    <ul>
                       <li class=""><a href="/details">Cras justo odio</a></li>
                       <li class=""><a href="/details">Dapibus ac facilisis in</a></li>
                       <li class=""><a href="/details">Morbi leo risus</a></li>
                       <li class=""><a href="/details">Porta ac consectetur</a></li>
                       <li class=""><a href="/details">Vestibulum at eros</a></li>
                    </ul>                 
            </div>
        </div>
      </div>
    </div>
</div>
